* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    background-color: whitesmoke;

    outline: 2px solid blue;

    overflow: hidden;
}

.sidebar {
    padding: 20px;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 4;

    grid-template-rows: 0.5fr 2fr 2fr;
    outline: 2px solid black;
}

.sidebar li {
    height: 40px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.header {
    padding: 20px 40px 20px 40px;
    display: grid;
    grid-column: 2 / 4;
    outline: 2px solid red;
}

.headerTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topLeft #searchValue{
    height: 30px;
    border-radius: 40px;
    width: 50vw;
    border: none;
    padding: 10px;
}

.topRight p{
    display: inline;
}

.headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
}
.headerBottom .profileActions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 10px;
}
.headerBottom button {
    height: 35px;
    width: 90px;
    border-radius: 30px;
    border: .5px solid rebeccapurple;
}

.projectsContainer {
    padding: 20px;
    display: grid;
    outline: 2px solid green;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding: 20px;
}

.announcementContainer {
    padding: 20px;
    display: grid;
    outline: 2px solid brown;
    grid-column: 3 / 4;
}

.trendingContainer {
    padding: 20px;
    display: grid;
    outline: 2px solid fuchsia;
    grid-column: 3 / 4;
}
